.starfield-cntnr {
  background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(35,10,45,1) 0%, rgba(10,10,10,1) 90% );
  width: 900px;
  height: 480px;
}

canvas {
  position: relative;
}