.fileexp-main-container{
    width: 100%;
    height: 100%;
}

.fileexp-content-container{
    width: 100%;
    display: flex;
    background-color: #202020;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Header Tabs View Started@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Styles for the tabbed window container */
.fileexp-header-tab-container {
    width: 100%;
    min-width: 700px;
    /* border:0.5px solid #9d9d9d; */
}
  
/* Styles for the tab navigation */
.fileexp-header-tabs {
    display: flex;
    background-color: #080404;
}

.fileexp-tab {
    /* flex: 1; */
    width: 55px;
    padding: 4px 8px;
    margin: 0 4px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    cursor:default;
    background-color: #000;
    color: white;
    transition: background-color 0.3s;
}

.fileexp-tab.highlight-default {
    margin: 0px 0px;
    background-color: #0464ac;
    color: white;
}

.fileexp-tab.active {
    border:0.3px solid #2d2d2d;
    border-bottom: none;
    background-color: #202020;
    color: white;
}

/* Styles for tab content */
.fileexp-header-tab-content-container {
    width: 100%;
    height: 100%;
}

.fileexp-tab-pane {
    display: none;
}

.fileexp-tab-pane.active {
    display: flex;
}

.figure-header-toggle{
    position: fixed;
    height: 25px;
    width: 15px;
    right: 4%;
}

.figure-header-tab{
    position: relative;
    height: 10px; 
    width: 10px;
    top: 6px
}

.img-header-tab{
    padding-left: 2.5px;
    height: 10px; 
    width: 10px;
}

.question-header-cntnr{
    position: fixed;
    height: 25px;
    width: 15px;
    right: 1%;
}

.question-figure-header-tab{
    position: relative;
    height: 15px; 
    width: 15px;
    top: 5px;
}

.question-img-header-tab{
    height: 15px; 
    width: 15px;
}

  
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Header Tabs View Ended@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Header Tabs Controls  Started%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*----------------------------------------- Panes Control Stared---------------------------------*/
.view-tab-pane-container{
    width: fit-content;
    height: 94px;
    background-color: #191919;
    border-bottom: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
}

.tab-empty-line-container {
    height: 2.5px;
    background-color: #191919; 
}

.tab-empty-space{
    height: 5px;
}

.tab-empty-space1{
    height: 10px;
}

.view-tab-pane-top-cntnr{
    display: flex;
    width: 100%;
    /* padding-top: 4px;
    padding-bottom: 5px; */
    border-right: 0.5px solid #9d9d9d;
}

.view-tab-pane-top1{
    padding-left: 4.5px;
    border: 0.5px solid transparent;
}

.figure-tab-view-pane{
    position: relative;
    min-width: 8px;
    place-items:center;
}

.img-tab-view-pane{
    height: 25px; 
    width: 25px;
}

.span-tab-view-pane{
    position: relative;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: normal;
    top: -3px;
}

.span-tab-view-pane1{
    position: relative;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: normal;
    top: -10px;
}

.view-tab-pane-top2{
    display: block;
    padding-right: 2px;
}

.tab-pane-top2-1, .tab-pane-top2-2{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 1.5px;
    border: 0.5px solid transparent;
    
}
.tab-pane-top2-2{
    top: 0px;
}

.span-tab-pane-cntnr{
    display: flex;
    padding: 2px 2px;
}

.figure-tab-view-pane1{
    position: relative;
    height: 16px; 
    width: 17px;
    place-items:center;
}

.img-tab-view-pane1{
    height: 16px; 
    width: 16px;
    margin: 0 1px;
}

.div-tab-view-pane{
    display: flex;
    width: 71px;
    margin: 0 1px;
}

.span-tab-view-pane-cntnt{
    position: relative;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: normal;
    top: 1px;
}

.view-tab-pane-bottom{
    position: relative;
    font-size: 11px;
    color: white;
    font-weight:normal;
    text-align: center;
    top: 1px;
}
/*----------------------------------------- Panes Control Ended---------------------------------*/

/*+++++++++++++++++++++++++++++++++++++++++ Layout Control Stared+++++++++++++++++++++++++++++++++++++++++*/
.view-tab-layout-container{
    width: fit-content;
    height: 94px;
    background-color: #191919;
    border-bottom: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
    padding-left: 4px;
    padding-right: 4px;
}

.view-tab-layout-top-cntnr{
    display:flex;
    width: 100%;
}

.view-tab-layout-top1{
    margin-top:4px;
    width: 345px;
    height: 68px;
    background-color: #302c2c;
    border: 1px solid #2d2d2d;
}

.view-tab-layout-top2{
    width: 4px;
    height: 72px;
    border-right: 0.5px solid #9d9d9d;
    /* padding-left: 1px; */
}

.view-tab-layout-content, .view-tab-layout-content1, .view-tab-layout-content2{
    display: flex;
    padding: 1px 2px;
    width: 100%;
}

.view-tab-layout-content1{
    padding: 0px 2px;
}

.view-tab-layout-content2{
    padding: 0px 2px;
}

.figure-tab-view-layout{
    position: relative;
    height: 16px; 
    width: 20px;
    place-items:center;
}

.img-tab-view-layout{
    height: 16px; 
    width: 16px;
    margin: 0 1px;
}

.span-tab-layout-cntnr{
    display: flex;
    border: 0.5px solid transparent;
    padding: 2px 0;
}

.div-tab-view-layout{
    display: flex;
    width: 90px;
    align-items: center;
    vertical-align: top;
    text-align: left;
    color: white;
    font-size: 11px;
    font-weight:normal;
    margin: 0 1px;
}

.view-tab-layout-bottom{
    position: relative;
    font-size: 11px;
    color: white;
    font-weight: normal;
    text-align: center;
    top: 1px;
    margin-bottom: 4px;
}
/*+++++++++++++++++++++++++++++++++++++++++ Layout Control Ended+++++++++++++++++++++++++++++++++++++++++*/

.view-tab-current-view-container{
    display: flex;
    width: 100%;
    height: 94px;
    background-color: #191919;
    border-bottom: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Header Tabs Controls  Ended%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


/*****************************Header navigation view Started*****************************/

.fileexp-header-container{
    width: 100%;
    display: flex;
    background-color: #191919;
}

.header-empty-line-container {
    height: 6px;
    background-color: #191919;
}
.header-empty-line-container2 {
    height: 7px;
    background-color: #191919;
}


/*++++++++++++++++++++++++++++++++Header navigation btn section Started++++++++++++++++++++++++++++++++*/

.header-nav-btn-container{
    left: 0;
    height: 24px;
    width: fit-content;
    display: flex;
}

.img-alt-left-right{
    height: 16px;
    width: 16px;
    top:5px;

    position: relative;
}

.figure-alt{
    position: relative;
    align-items: center;
    width: fit-content;
    margin: 0 10px;
}

.img-alt-chevron{
    height: 9px;
    width: 9px;

    position: relative;
    top: 5px
}

.figure-alt-chevron{
    position: relative;
    align-items: center;
    width: fit-content;
    margin: 0 1px;
}

.figure-alt-up{
    position: relative;
    align-items: center;
    width: fit-content;
    padding: 0 0 0 5px;
}

.img-alt-up{
    height: 16px;
    width: 16px;
    top:6px;

    position: relative;
}
/*++++++++++++++++++++++++++++++++Header navigation btn section Ended++++++++++++++++++++++++++++++++*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxHeader navigation path box Startedxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.header-nav-path-container{
    width:100%;
    padding: 0 0 0 2px;
}

.nav-path-container{
    display:flex;
    width: 100%;
}

.figure-nav-path-cntnr{
    position: relative;
    min-width: 18px;
}

.img-nav-path-cntnr{
    height: 18px;
    width: 15px;
    margin: 0 3px;

    position: relative;
}

span.head-nav-path-cntnr{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-right: none;
}

.nav-path-gen-main-container{
    display:flex;
    height: 24px;
    width: 450px; /*this was min-width before*/
    width: 100%;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
}

.nav-path-gen-container{
    display:inline-flex;
    width: fit-content;
}

.nav-path-gen-container:hover{
    display:inline-flex;
    width: fit-content;
    background-color: #3f3e3e;
}

span.head-nav-path-gen-cntnr0{
    align-items: center;
    display:inline-flex;
}

span.head-nav-path-gen-cntnr0:hover{
    align-items: center;
    display:inline-flex;
    background-color: #3f3e3e;
}

span.head-nav-path-gen-cntnr{
    align-items: center;
    display:inline-flex;
}

span.head-nav-path-gen-cntnr.active{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
}

.nav-path-gen-container:hover span.head-nav-path-gen-cntnr{
    align-items: center;
    display:inline-flex;
    border-right: 0.5px solid #191919;
}

span.mid-nav-path-gen-cntnr{
    display: flex;
    align-items: center;
    margin: 0 4px;
    color: #ccc; 
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

.figure-nav-path-gen-cntnr{
    position: relative;
    min-width: 14px;
}

.img-nav-path-gen-cntnr{
    height: 11px;
    width: 11px;
    /* margin: 0 4px; */

    position: relative;
}

.figure-nav-path-cntnr1{
    position: relative;
    min-width: 18px;
}

.img-nav-path-cntnr1{
    height: 10px;
    width: 10px;
    margin: 0 6px;

    position: relative;
}

span.head-nav-path-cntnr1{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
}

span.head-nav-path-cntnr1.active{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    background-color: #3f3e3e;
}

span.head-nav-path-cntnr1:hover{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid rgb(18, 107, 240);
    transition: border-color 0.3s ease;
}

.figure-nav-path-cntnr2{
    position: relative;
    min-width: 20px;
}

.img-nav-path-cntnr2{
    height: 12px;
    width: 12px;
    margin: 0 6px;

    position: relative;
}

span.head-nav-path-cntnr2{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
}

span.head-nav-path-cntnr2.active{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    background-color: #3f3e3e;
}

span.head-nav-path-cntnr2:hover{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid rgb(18, 107, 240);
    transition: border-color 0.3s ease;
}

.path-input{
    position: relative;
    width: 440px; /*this was min-width before*/
    width: 100%;
    height: 24px;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
    color: whitefff;
    background-color: #191919;
    /* background-color: whitef; */
    display: none;
}


.nav-path-containter1{
    position: absolute;
    width: 405px; /*this was min-width before*/
    border: 1px solid #9d9d9d;
    margin-right: 10px;
    max-height: 180px;
    overflow-y: auto;
    background-color: #191919;
    z-index: 2;
    display: none;
}

.nav-path-entry-containter{
    display: inline-flex;
    width: 100%;
    margin: 8px 8px 8px 0;
    overflow-y: hidden;
}

.figure-nav-path-entry{
    position: relative;
    align-items: center;
    min-width: 8px;
}

.img-nav-path-entry{
    height: 12px;
    width: 12px;
    top:0px;
    margin: 0 8px;

    position: relative;
}

span.mid-nav-path-entry{
    padding: 0 2px;
    color: white; /* white text color */
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap; 
    overflow: hidden;
    display: inline-flex;
    align-items: center;
     
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxHeader navigation path box Endedxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*--------------------------Header navigation search box Started-----------------------------*/

.header-nav-search-container{
    width:fit-content;
    right: 0;
    margin: 0 10px;
}

.search-input{
    position: relative;
    min-width: 105px;
    max-width: 100%;
    height: 24px;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
    color: #ccc;
    background-color: #191919;
}

.search-container{
    display:flex;
    width: 100%;
}

.figure-search-cntnr{
    position: relative;
    min-width: 28px;
}

.img-search-cntnr{
    height: 12px;
    width: 12px;
    margin: 0 8px;

    position: relative;
}

span.head-search-cntnr{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-right: none;
}

span.head-search-cntnr1{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
}

span.head-search-cntnr2{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-left: none;
}

span.head-search-cntnr2.active{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    background-color: blue;
}

.search-history-containter{
    position: absolute;
    width: inherit;
    border: 1px solid #9d9d9d;
    margin-right: 10px;
    max-height: 180px;
    overflow-y: hidden;
    background-color: #191919;
    z-index: 2;
    display: none;
}

.search-entry-containter{
    display: inline-flex;
    width: 100%;
    margin: 8px 8px 8px 0;
    overflow-y: hidden;
}

.figure-search-entry{
    position: relative;
    align-items: center;
    min-width: 8px;
}

.img-search-entry{
    height: 12px;
    width: 12px;
    top:0px;
    margin: 0 8px;

    position: relative;
}

span.mid-search-entry{
    padding: 0 2px;
    color: white; /* white text color */
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap; 
    overflow: hidden;
    display: inline-flex;
    align-items: center;
     
}

/*----------------------------Header navigation search box End------------------------*/

/*****************************Header navigation view Ended*****************************/

/*****************************navigation pane view Started*****************************/

.navigation-content-container{
    min-width: 180px;
    background-color: #191919;
    overflow-y: auto;
    height: 440px;
}


/*****************************navigation pane view Ended*****************************/

.file-content-container{
    border-left: 0.5px solid #5a5a5a;
    min-width: 720px; /*This was 100px before, change it when you've got window resize working properly*/
    width: 100%; /* Set a maximum width for the responsive container */
    overflow-y: auto;
    height: 440px;
}

.previewOrdetails-content-container{
    min-width: 200px;
    border-left: 0.5px solid #5a5a5a;
    background-color: #202020;
    /* display: none; */
}


/*****************************icon view and layout Started*****************************/

/*-------------------------Icon Size View Start -------------------------------*/
.ol-iconview-grid{
    /* column-gap: 1px; */
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill, 90px);
    grid-template-rows: repeat(auto-fill, 70px);
    height: calc(100% - 5px);
    width: 100%;
    padding: 5px 10px;
    row-gap: 34px;
    column-gap: 5px;
}

/* Optional: Add headers for folders and files */
.li-iconview-container::before {
    content: attr(data-type);
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    color: #aaa;
}

/* Optional spacing between folder and file groups */
#olElmnt-[yourProcessIdHere] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 10px 5px;
    padding: 5px 10px;
}


.li-iconview-container{
    display: flex;
    justify-content: center;
    /* padding: 2px; */
    height: min-content;
    z-index: 1;
}

.iconview-image {
    position: relative;
    height: 45px;
    width: 45px;
    bottom: 0;
}

.iconview-img-wrapper {
    width: fit-content;
    display: block;
    max-width: 96px;
    max-height: 96px;
}

.iconview-shortcut-wrapper{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px; /* Adjust size as needed */
    height: 22px;
}

.iconview-button {
    background-color: transparent;
    border: 0.5px solid transparent;
    width: 90px;
    height: min-content;
    transition: transform 0.1s ease-in-out;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.iconview-shortcut-img{
    position: relative;
    height: 12px; 
    width: 12px;
    bottom: -8px;
}

.iconview-img-container {
    margin-bottom: -2px;
    place-items: center;
    display: inline-block;
    position: relative;
}

.iconview-caption-container {
    position: relative;
    height: min-content;
    /* bottom: -4px; */
}

.iconview-caption {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.1px;
    -webkit-line-clamp:4;
    position: relative;
    text-align:center;
    padding: 2px 0;
    top: 2px;
    line-height: normal;
    overflow: hidden;
    width: 100%;
    max-width: 90px;
}

.iconview-rename-form, .iconview-rename-textbox{
    position: relative;
    display: none;
    margin: 0;
}

.iconview-rename-textbox{
    position: relative;
    display: none;
    text-align:center;
    top: 2px;
    font-size: 12px;
    font-weight:200;
    margin-bottom: 1px;
    width: 90px;
    height: 20px;
    border: 0.5px solid #ccc;
    overflow:hidden;
    resize: none;
 }

/*-------------------------Icon Size View End -------------------------------*/


/*-------------------------Details Icon View Start ----------------------------------*/

.ol-detailsview-grid{
    display: block;
    width: 100%;
    height: 100%;
    padding:0px 4px !important;
}

.li-detailsview-container{
    padding: 2px;
    height: fit-content;
    z-index: 1;
}

/* src/app/app.component.css */
.detailsview-data-table {
  width: 100%;
  border-collapse: collapse; /* Collapses the borders between cells */
  /* margin-top: 20px; */
}

.detailsview-data-table th {
    border: 0.5px solid #202020; /* Adds a border to each header and data cell */
    padding: 8px;
    width: 155px;
    text-align: left; /* Aligns text to the left */
    font-weight: bold; /* Make header text bold */
}

.detailsview-data-table th:first-child{
    width: 200px;
}

.detailsview-data-table thead th {
  background: #202020;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.detailsview-data-table td {
    border: 0.5px solid transparent; 
    height: 25px;
    width: 155px;
    text-align: left; /* Aligns text to the left */
}

.detailsview-data-table td:first-child {
    display: flex;
    border: 0.5px solid transparent; 
    height: 25px;
    width: 200px;
    text-align: left; /* Aligns text to the left */
    margin: 0px 1px;
}


.detailsview-data-table tr.active td {
  background-color:#d0ecfc !important;
}

/* Add this to your component's CSS or global styles */
th[fxplrColumnResize], td[fxplrColumnResize] {
  position: relative;
}

th[fxplrColumnResize]::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; /* Adjust the handle width */
  height: 100%;
  cursor: col-resize;
  background-color: #f0f0f0; /* Handle background color */
}

.div-detailsview-figure-section{
    position: relative;
    width: 13.5%;
    height: 25px;
    /* padding-right: 2px; */
}

.div-detailsview-caption-section{
    position: relative;
    width: 87.5%;
    height: 25px;
}

.figure-detailsview{
    display: flex;
    position: relative;
    height: 20px; 
    width: 20px;
    place-items:center;
}

.img-detailsview{
    height: 20px; 
    width: 20px;
    margin: 0 1px;
}

.figcaption-listview{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.figcaption-detailsview-p, .detailsview-ptag, .detailsview-ptag-right{
    position: relative;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight:200;
    top: 0px;
    width: 120px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
    line-height: 13px; 
}

.figcaption-detailsview-p{
    top: 4px;
}

.detailsview-ptag{
    padding-left: 5px;
}

.detailsview-ptag-right{
    text-align: right;
}

.detailsview-rename-form, .detailsview-rename-textbox{
    position: relative;
    display: none;
    margin: 0;
}

.detailsview-rename-textbox{
    position: relative;
    display: none;
    top: 0px;
    margin-bottom: 2px;
    width: 100%;
    /* max-width: 228px; */
    height: 22px;
    border: 1px solid #ccc;
    overflow:hidden;
    font-size: 12px;
    font-weight:200;
    background-color: white;
    color: black;
 }
/*-------------------------Details Icon View End ----------------------------------*/


/*-------------------------List View Start-------------------------------*/

.ol-listview-grid{
    display: grid;
    grid-auto-flow: column !important;
    grid-template-columns:  repeat(auto-fill, 250px) !important;
    grid-template-rows: repeat(auto-fill, 25px) !important;
    height: calc(100% - 5px);
    width: 100%;
    padding-right: 2px;
    padding-left: 4px !important;
    row-gap: 1px !important;
    column-gap: 6px !important;
}

.li-listview-container{
    display: flex;
    justify-content: left;
    padding-left:15px;
    height: fit-content;
    z-index: 1;
}

.div-listview{
    display: flex;
    margin: 0px 2px;
    height: 25px;
    width: 100%;
}

.div-listview-figure-section{
    position: relative;
    width: 7.5%;
}

.div-listview-caption-section{
    position: relative;
    width: 90%;
}

.figure-listview{
    display: flex;
    position: relative;
    height: 20px; 
    width: 20px;
    place-items:center;
}

.img-listview{
    height: 20px; 
    width: 20px;
    margin: 0 1px;
}

.figcaption-listview{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.figcaption-listview-p{
    position: relative;
    text-align: left;
    color: white;
    padding-left:4px;
    font-size: 12px;
    font-weight:200;
    margin: 0 1px;
    top: 4px;
    line-height: 13px;
    width: 100%;
    max-width: 228px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
}

.button-listview{
    width: 100%;
    height: 24px; 
    padding: 0.5px 0px;
    border: 0.5px solid transparent;
}

.listview-rename-form, .listview-rename-textbox{
    position: relative;
    display: none;
    margin: 0;
}

.listview-rename-textbox{
    position: relative;
    display: none;
    top: 0px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 228px;
    height: 22px;
    border: 1px solid #ccc;
    overflow:hidden;
    font-size: 12px;
    font-weight:200;
    background-color: white;
    color: black;
 }

/*-------------------------List View End-------------------------------*/


/*-------------------------Tiles View Start-------------------------------*/

.ol-tilesview-grid{
    display: grid;
    grid-auto-flow: column !important;
    grid-template-columns:  repeat(auto-fill,250px) !important;
    grid-template-rows: repeat(auto-fill,50px) !important;
    height: calc(100% - 5px);
    width: 100%;
    padding: 2px 2px;
    row-gap: 4px !important;
    column-gap: 6px !important;
}

.li-tilesview-container{
    display: flex;
    justify-content: left;
    padding-left:15px;
    height: fit-content;
    z-index: 1;
}

.div-tilesview{
    display: flex;
    margin: 0px 2px;
    height: 50px;
}

.figure-tilesview{
    height: 48px; 
    width: 48px;
    place-items:center;
}

.img-tilesview{
    height: 48px; 
    width: 48px;
    margin: 0 1px;
}

.div-figcaption-tilesview-container{
    display: block;
    width: 200px;
    height: 48px;
}

.div-figcaption-tilesview{
   display: block;
    height: 16px;
   width: 100%;
}

.figcaption-tilesview-p{
    position: relative;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight:200;
    top: 2px;
    width: 200px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
    line-height: 13px; 
}

.tilesview-rename-form, .tilesview-rename-textbox{
    position: relative;
    display: none;
    margin: 0;
}

.tilesview-rename-textbox{
    display: none;
    width: 100%;
    max-width: 200px;
    height: 16px;
    border: 1px solid #ccc;
    overflow:hidden;
    font-size: 12px;
    font-weight:200;
    background-color: white;
    color: black;
 }

.button-tilesview{
    width: 250px;
    height: 50px; 
    padding: 0.5px 0px;
    border: 0.5px solid transparent;
}
/*-------------------------Tiles View End-------------------------------*/

/*-------------------------Content View Start-------------------------------*/

.ol-contentview-grid{
    display: grid;
    height: calc(100% - 5px);
    width: 100%;
    padding: 0px !important;
    row-gap: 6px !important;
    column-gap: 0px !important;
    grid-auto-flow: row !important;
}

.li-contentview-container{
    display: flex;
    justify-content: left;
    padding: 0px 2px;
    padding-left:15px;
    height: fit-content;
    z-index: 1;
}

.div-contentview{
    position: relative;
    display: flex;
    margin: 2px 2px;
    height: 48px;
}

.div-contentview-info{
    display: flex;
    width: 100%;
    height: 40px;
}

.figure-contentview{
    display: flex;
    position: relative;
    /* min-width: 8px; */
    place-items:center;
    height: 40px;
    width: 40px;
    margin-top: 1px;
}

.img-contentview{
    position: relative;
    height: 40px; 
    width: 40px;
    margin: 0 1px;
}

.figcaption-contentview{
    display: block;
    width: 70%;
}

.figcaption-contentview-p{
    position: relative;
    align-items: center;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight:300;
    margin: 0 1px;
    top: 4px;
    height: 20px;
    width: 320px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
    line-height: 13px; 
}

.div-contentview-metadata{
    display: block;
    position: relative;
    width: 30%;
    right: 20%;
}

.contentview-metadata-p{
    position: relative;
    width: 220px;
    text-align: left;
    color: white;
    font-size: 11px;
    font-weight:200;
    text-overflow: ellipsis;
    padding: 1px 0;
    top:4px;
}

.button-contentview{
    width: 100%;
    height: 47px;
    padding: 0.5px 0px;
    border: 0.5px solid transparent;
}

.line-container {
    position: relative;
    height: 0.25px;
    background-color: #202020;
    top: -5px;
}

.line {
    border: 0.2px solid white;
}

.contentview-rename-form, .contentview-rename-textbox{
    position: relative;
    display: none;
    margin: 0;
}

.contentview-rename-textbox{
    display: none;
    width: 100%;
    max-width: 320px;
    height: 20px;
    border: 1px solid #ccc;
    overflow:hidden;
    font-size: 12px;
    font-weight:200;
    background-color: white;
    color: black;
 }
/*-------------------------Content View End-------------------------------*/

/*****************************icon view and layout Started*****************************/


/*-----################################---Footer View Started-----################################---*/

.fileexp-footer-container{
    width: 100%;
    height: 24px ;
    display: inline-flex;
    /* background-color: #383434; */ 
    background-color: #303438;
}

.span-footer{
    color: white;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 4px;
}


.fileexp-footer-img-cntnr-1{
    position: fixed;
    height: 24px;
    right: 4%;
}
.fileexp-footer-img-cntnr-2{
    position: fixed;
    height: 24px;
    right: 1%;
}

.fileexp-footer-figure{
    position: relative;
    width: 15px;
    height: 15px;
    top: 5.5px;
}

.fileexp-footer-img{
    height: 15px; 
    width: 15px;
}
/*-----################################---Footer View Ended-----################################---*/



.rename-textbox{
    position: relative;
    display: none;
    top: 2px;
    margin-bottom: 2px;
    max-width: 75px;
    max-height: 16px;
    border: 1px solid #ccc;
    overflow:hidden;
    z-index: 2;
 }

 input {
    text-align:calc(75px / 2 px);
    font-size: 11.5px;
    /* text-overflow:ellipsis; */
    padding-left: 4px;
 }

input::selection{
    background-color: #0056b3;
    color: white;
}

.tool-tip-container{
    position: absolute;
    width: fit-content;
    border-bottom: 1px solid black;
    box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -1;
    opacity: 0;
    transform: translate(-100000px,100000px); 
}

.tool-tip-base{
    width: fit-content;
    height: 40px;
    line-height: 5px;
    padding: 10px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: black;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    /* text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px; */
}

.tool-tip-arrow {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent; 
    left: 20px;
    transform: rotate(180deg);
}

.fx-information-tip-container {
    position: absolute;
    z-index: 0;
    width: fit-content;
    border: 1px solid #5a5a5a;
    background-color: #202020;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* makes it non-interactive */
}

.fx-information-tip-container.visible {
    opacity: 1;
    z-index: 3;
    visibility: visible;
}

.fx-information-tip-item-container {
    width: 100%;
    height: 100%;
}

.fx-information-tip-item {
    padding: 2px 2px;
    font-size: 11px;
    text-align: left;
    color: white;
}


.fileexplr-clone-container{
    width: fit-content;
    height: fit-content;
    z-index:  3;
    position: absolute;
}

.fileexplr-multi-select-highlight {
    background-color: #4c4c4c;
    border: 0.5px solid #3c3c3c;
}

