<cos-basicwindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name"  (click)="setCheetahWindowToFocus(this.processId)">
    <div class="cheetah-main-container" id="cheetahAboutMainCntnr">
        <div class="cheetah-body-container">
            <div class="os-info"> 
                <div class="os-image">
                    <img [src]="cheetahIcon" />
                </div>
                <div class="cheetah-div">
                    <div class="os-name fancy">
                        <div class="os-name-display">{{displayName}}</div>
                        <div class="info-icon" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">&#9432;</div>
                    </div>
                </div>
                <div class="cheetah-div"><p class="os-version">{{version}}</p></div>
                <div class="cheetah-div"><p class="os-year">{{year}}</p></div>
            </div>

           <div class="tooltip" id="cheetahAboutTooltip" (mouseenter)="onMouseEnter1()" (mouseleave)="onMouseLeave()">
                {{infoMessage}}
            </div>
        </div>
    </div>
</cos-basicwindow>