.task-bar-nav{
    display: block;
    position: fixed;
    background-color: rgba(41,41, 41, 0.6);
    backdrop-filter: blur(10px);
    height: 40px;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}