<div @slideUpToggle>
    <div class="start-menu-main-container">
        <div class="start-menu-main-overlay-container">
            <div class="start-menu-main-overlay-content">
                <div class="start-menu-main-overlay-icon-text-container" id="sm-IconText-Overlay-Cntnr">
                    <div class="start-menu-main-overlay-icon-text-content"  (mouseenter)="startMenuOverlaySlideOut()" (mouseleave)="startMenuOverlaySlideIn()">
                        <div class="start-menu-overlay-icon">
                            <figure class="start-menu-overlay-figure">
                                <img class="start-menu-overlay-img" [src]="'osdrive/Cheetah/System/Imageres/sm_hamburger_menu.png'"/>
                            </figure>
                        </div>
                        <div class="start-menu-overlay-text"  [style]="txtOverlayMenuStyle">
                            <p class="start-menu-overlay-text-p" style="font-weight: bold;">START</p>
                        </div>
                    </div>
    
                    <div style="height: 280px;"> </div>
    
                    <div class="start-menu-main-overlay-icon-text-content" (click)="openFolderPath(Documents)" (mouseenter)="startMenuOverlaySlideOut()" (mouseleave)="startMenuOverlaySlideIn()">
                        <div class="start-menu-overlay-icon">
                            <figure class="start-menu-overlay-figure">
                                <img class="start-menu-overlay-img" [src]="'osdrive/Cheetah/System/Imageres/sm_file.png'"/>
                            </figure>
                        </div>
                        <div class="start-menu-overlay-text" [style]="txtOverlayMenuStyle">
                            <p class="start-menu-overlay-text-p">{{Documents}}</p>
                        </div>
                    </div>
    
                    <div class="start-menu-main-overlay-icon-text-content" (click)="openFolderPath(Pictures)" (mouseenter)="startMenuOverlaySlideOut()" (mouseleave)="startMenuOverlaySlideIn()">
                        <div class="start-menu-overlay-icon">
                            <figure class="start-menu-overlay-figure">
                                <img class="start-menu-overlay-img" [src]="'osdrive/Cheetah/System/Imageres/sm_picture.png'"/>
                            </figure>
                        </div>
                        <div class="start-menu-overlay-text" [style]="txtOverlayMenuStyle">
                            <p class="start-menu-overlay-text-p">{{Pictures}}</p>
                        </div>
                    </div>
    
                    <div class="start-menu-main-overlay-icon-text-content" (click)="openFolderPath(Music)" (mouseenter)="startMenuOverlaySlideOut()" (mouseleave)="startMenuOverlaySlideIn()">
                        <div class="start-menu-overlay-icon">
                            <figure class="start-menu-overlay-figure">
                                <img class="start-menu-overlay-img" [src]="'osdrive/Cheetah/System/Imageres/sm_music.png'"/>
                            </figure>
                        </div>
                        <div class="start-menu-overlay-text" [style]="txtOverlayMenuStyle">
                            <p class="start-menu-overlay-text-p">{{Music}}</p>
                        </div>
                    </div>
    
                    <div class="start-menu-main-overlay-icon-text-content" (click)="power()" (mouseenter)="startMenuOverlaySlideOut()" (mouseleave)="startMenuOverlaySlideIn()">
                        <div class="start-menu-overlay-icon">
                            <figure class="start-menu-overlay-figure">
                                <img class="start-menu-overlay-img" [src]="'osdrive/Cheetah/System/Imageres/sm_power.png'"/>
                            </figure>
                        </div>
                        <div class="start-menu-overlay-text" [style]="txtOverlayMenuStyle">
                            <p class="start-menu-overlay-text-p">Power</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="start-menu-main-content-container">
            <div class="start-menu-main-content-empty"></div>
            <div class="start-menu-main-content-list-container" @slideUpToggle>
                <div class="start-menu-main-content-list-content">
                    <ol class="start-menu-list-ol" (mouseenter)="onBtnHover()"> 
                        <li  class="start-menu-list-li"  *ngFor="let file of startMenuFiles; let i = index"  id="start-menu-list-li-{{i}}">
                            <button class="start-menu-list-btn"  (click)="runProcess(file)">
                                <div class="start-menu-list-head"> <figure class="start-menu-list-fig"><img class="start-menu-list-img" [src]="file.getIconPath"/></figure></div>
                                <div class="start-menu-list-mid"><p class="start-menu-list-p">{{file.getFileName}}</p></div>
                                <div class="start-menu-list-tail"> <figure class="start-menu-list-fig"></figure> </div>
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>