<ng-container [ngTemplateOutlet]="taskBarEntryType === taskBarHideLabelEntryOption ? hideTaskBarEntryLabel : showTaskBarEntryLabel">
</ng-container>

<ng-template #showTaskBarEntryLabel>
    <div class="taskBar-Entry-div-ext">
        <figure  class="taskBar-Entry-figure-ext" (click)="restoreOrMinizeWindow()">
            <img class="taskBar-Entry-img" [src]="icon" [alt]="name">
            <figcaption class="taskBar-Entry-figcaption"> {{this.name}} </figcaption>
        </figure>
    </div>    
</ng-template>


<ng-template #hideTaskBarEntryLabel>
    <div class="taskBar-Entry-div">
        <figure class="taskBar-Entry-figure"  (click)="restoreOrMinizeWindow()">
            <img class="taskBar-Entry-img" [src]="icon" [alt]="name">
        </figure>
    </div>    
</ng-template>