<ng-container [ngTemplateOutlet]="notificationOption === errorNotification ? errorNotice :
                                  notificationOption === warnNotification ? warningNotice :
                                  notificationOption === pwrOnOffNotification ? shutDownRestartNotice :  infoNotice ">
</ng-container>

<ng-template #errorNotice>
    <cos-basicwindow [runningProcessID]="processId" [displayMessage]="this.displayMgs" [processAppName]="ERROR_DIALOG" [isDialog]="true">
        <div ngDraggable class="error-dialog-main-container">
            <div class="error-dialog-mid-container">
                <div class="error-dialog-mid-section1">
                    <div class="error-dialog-mid-img1">
                        <figure class="error-dialog-figure1">
                            <img class="error-dialog-img1" [src]="'osdrive/Cheetah/System/Imageres/red_x.png'"/>
                        </figure>
                    </div>
                    <div class="error-dialog-mid-txt1">
                        <span class="error-dialog-mid-section1-msg">{{this.displayMgs}}</span>
                    </div>
                </div>
                <div class="error-dialog-mid-section2">
                    <span class="error-dialog-mid-section2-msg">Application not found</span>
                </div>
            </div>
            <div class="error-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                    OK
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>

<ng-template #infoNotice>
    <cos-basicwindow [runningProcessID]="processId" [processAppName]="INFO_DIALOG" [isDialog]="true">
        <div  class="info-dialog-main-container">    
            <div class="info-dialog-mid-container" tabindex="0">
                <div class="info-dialog-mid-section1">
                    <div class="info-dialog-mid-img1">
                        <figure class="info-dialog-figure1">
                            <img class="info-dialog-img1" [src]="'osdrive/Cheetah/System/Imageres/info.png'"/>
                        </figure>
                    </div>
                    <div class="info-dialog-mid-txt1">
                        <span class="info-dialog-mid-section1-msg">{{this.displayMgs}}</span>
                    </div>
                </div>
            </div>
        
            <div class="info-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                    OK
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>


<ng-template #warningNotice>
    <cos-basicwindow [runningProcessID]="processId" [displayMessage]="'Shortcut'" [processAppName]="WARNING_DIALOG" [isDialog]="true">
        <div  class="warning-dialog-main-container"> 
            <div class="warning-dialog-mid-container" tabindex="0">
                <div class="warning-dialog-mid-section1">
                    <div class="warning-dialog-mid-img1">
                        <figure class="warning-dialog-figure1">
                            <img class="warning-dialog-img1" [src]="'osdrive/Cheetah/System/Imageres/warning.png'"/>
                        </figure>
                    </div>
                    <div class="warning-dialog-mid-txt1">
                        <p class="warning-dialog-mid-section1-msg">{{this.displayMgs}}</p>
                    </div>
                </div>
            </div>
        
            <div class="warning-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onYesDialogBox()" >
                    Yes
                    </button>
                    <div style="padding-left: 5px; display: inline;"></div>
                    <button class="btn btn-secondary" (click)="onCloseDialogBox()" >
                    No
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>



<ng-template #shutDownRestartNotice >
    <div ngDraggable [handle]="leftHS4"  (click)="onPwrDialogWindowClick($event)"  [ngDraggable]="false" class="shutdown-restart-dialog-main-container" id="shutdown-restart-dialog-{{processId}}">
        <div class="shutdown-restart-dialog-header-container" tabindex="0">
            <div #leftHS4 class="shutdown-restart-dialog-left-header-section">
                <h1 class="shutdown-restart-dialog-h1">
                    <figure class="shutdown-restart-dialog-figure">
                        <!-- <img class="shutdown-restart-dialog-img" [src]="this.icon" [alt]="this.name"/> -->
                        <figcaption class="shutdown-restart-dialog-figcaption"> {{this.displayMgs}} </figcaption>
                    </figure>
                </h1>
            </div>
        </div>

        <!-- Section 1 -->
        <div class="shutdown-restart-section shutdown-restart-section1">
          <div class="sr-section1-img">
            <img [src]="cheetahOS" class="sr-section1-img">
          </div>
          <div class="sr-section1-text-container">
            <span>CheetahOS</span>
          </div>
        </div>
    
        <!-- Section 2 -->
        <div class="shutdown-restart-section shutdown-restart-section2">
          <div class="shutdown-restart-section2-left-part">
            <img [src]="myComputer" class="sr-section2-img">
          </div>
          <div class="right-part">
            <div class="top-text">What do you want the computer to do?</div>

            <div class="custom-select">
                <select class="shutdown-restart-select" [(ngModel)]="selectedOption" (change)="onPwrOptionSelect($event)">
                    <option class="shutdown-restart-option" *ngFor="let option of pwrOnOffOptions" [value]="option.value">
                        {{ option.value }}
                    </option>
                </select>
                <div class="custom-select-img-cntnr">
                    <div class="custom-select-img"> 
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        height="10" width="10" 
                        viewBox="0 0 512 512" style="fill: #333;">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    </div>
                </div>
            </div>
            <div class="bottom-text"> {{ pwrOnOffOptionsTxt }}</div>
          </div>
        </div>
    
        <!-- Section 3 -->
        <div class="shutdown-restart-section shutdown-restart-section3">
            <div class="sr-section3-question">
                <div class="sr-section3-chxbox">
                    <input type="checkbox" [(ngModel)]="reOpenWindows" (change)="onCheckboxChange()">
                </div>
                <div class="sr-section3-txt">
                    Reopen windows when loggin back in
                </div>
            </div>
            <div class="sr-section3-btns">
                <button class="btn btn-primary-pwr" (click)="onYesPowerDialogBox()" >OK</button>
                <button class="btn btn-secondary-pwr" (click)="onCloseDialogBox()">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<!-- File Transfer Dialog To be Added -->