.taskbar-preview-main-container{
    background-color:  rgba(41, 41, 41, 0.6);
    backdrop-filter: blur(5px);
    border: 0.2px solid  rgba(41, 41, 41, 0.6);
    position: absolute;
    display: inline-flex;
    margin: 0 2px;
}

.taskbar-preview-content{
    height: 100%;
    width: 100%;
    padding: 0 2px;
}