.taskBar-Entries-ol{
    height: 100%;
    left: 80px;
    position: absolute;
    right:116px;
    display: flex;
    column-gap: 4px;
    margin: 0 1px;
    transition: all 0.075s;
    overflow-x: hidden;
}

.taskBar-Entries-li{
    height: 40px;
    display: flex;
    border-bottom: 2px solid transparent;
}

.li-pill-cntnr {
    width: 48px;
    height: 40px;
    display: flex;
}

.li-pill-divider {
    width: 4px;
    height: 40px;
    opacity: 0.75;
    border-bottom: 2px solid hsl(207deg 100%  72% / 90%);
    /* border-left: 0.5px solid #333; */
}