<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" [priorUId]="this.priorUId"  (click)="setImageViewerWindowToFocus(this.processId)">
    <div class="main-container" (click)="focusOnInput()" #photoContainer>
        <div   class="photo-viewer-container"> 
            <div [@.disabled]="disableAnimations"
                [@slideToggle]="{
                    value: selectedIndex(),
                    params: {
                    leaveEnd: animationDirection() === 'right' ? '100%' : '-100%',
                    enterStart: animationDirection() === 'right' ? '-100%' : '100%'
                    }
                }"
                tabindex="0" id="photoCntnr" 
                class="photo-viewer"  (keydown)="onKeyDown($event)" (click)="onClick()">

                @for (image of images(); track image) {
                    <img [src]="image" />
                }
            </div>
        </div> 
        <div class="photo-slider">
            <div class="photo-storage" *ngFor="let img of imageList; let i = index"  (click)="onClick(i)">
                <div class="photo-slider-img">
                    <img [src]="img"/>
                </div>
            </div>
        </div>
    </div>
</cos-window>