.properties-main-container{
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    width: 360px;
}
  
.properties-button{
    border-left: 1px transparent blue;
    box-sizing: content-box;
    color: #fff;
    display: flex;
    font-size: 20px;
    width: 45px;
    place-content: center;
    place-items: center;
}
  
.properties-svg{
    fill: #ababab;
    margin-bottom: 2px;
    /* width: 10px; */
}
  
.properties-nav{
    display: flex;
    position: absolute;
    width: fit-content;
    right: 0;
    height: 30px;
}


.properties-body-container{
    width: 100%;
    background-color: #f0f0f0;
    padding: 0px 7px;
}

/* Styles for the tab navigation */
.properties-header-tab-container {
    width: 100%;
    display: block;
    background-color: #ffffff;
}

.properties-header-tabs {
    display: flex;
    background-color: #f0f0f0;
}

.properties-tab {
    width: 100px;
    padding: 4px 0px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    cursor:default;
    background-color: #f0f0f0;
    border:0.3px solid #c8c3c3;
    color: black;
    transition: background-color 0.3s;
}

.properties-tab.active {
    border:0.3px solid #c8c3c3;
    border-bottom: none;
    background-color: #ffffff;
    color: black;
}

/* Styles for tab content */
.properties-header-tab-content-container {
    width: 100%;
    height: 100%;
    border:0.3px solid #c8c3c3;

}

.properties-tab-pane {
    display: none;
}

.properties-tab-pane.active {
    display: flex;
}

.figure-header-toggle{
    position: fixed;
    right: 2%;
}

.figure-header-tab{
    position: relative;
    width: 15px;
    height: 21.5px;
    place-items:center;
}

.general-tab-containter{
    width: 100%;
    display: block;
}

.general-tab-section{
    width: 100%;
    padding: 10px 5px;
}

.general-tab-section2{
    width: 100%;
    padding: 10px 9px;
}

.general-tab-content{
    display: inline-flex;
    width: 100%;
    /* border: 1px solid black; */
}

.general-tab-line-container {
    position:relative;
    bottom: 0;
    max-height: 0.3px;
    background-color: #ffffff;
}

.general-tab-line{
    border: 0.3px solid #9c9898;
    margin: 0 8px;
}

.general-tab-head{
    width: 26%;
}

.general-tab-head1{
    display: inline-flex;
    width: 26%;
}

.general-tab-mid{
    min-width: 5%;
    padding: 0 4px;
}

.general-tab-tail{
    width: 69%;
    padding-right: 4px;
}

.general-tab-p, .general-tab-p0 {
    position: relative;
    top: 30%;
    font-size:11px;
    font-weight:normal;
    text-align: left;
    padding: 3px 0;
    border: 0.3px solid #000;
}

.general-tab-p0{
    border: none;
}

.general-tab-p1{
    position: relative;
    top: 0%;
    font-size:11px;
    font-weight:normal;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
    width: 220px;
}

.general-tab-figure{
    align-items: center;
    display:inline-flex;
    width: 36px;
    height: 36px;
}
  
.general-tab-img{
    height: 36px;
    width: 36px;

    position: relative;
    margin: 0 0;
    left: -12px;
}

.openswith-tab-figure{
    align-items: center;
    display:inline-flex;
    width: 12px;
    height: 12px;
}
  
.openswith-tab-img{
    height: 12px;
    width: 12px;
    position: relative;
    margin: 0 0;
    left: -2px;
    top: -3px;
}

.properties-footer-container{
    width: 100%;
    height: 35px;
    background-color: #f0f0f0;
}

.openswith-container{
    display: inline-flex;
    width: 100%;
    height: 13px;
}

.openswith-head{
    width: 9%;
}
.openswith-mid{
    width: 1%;
}
.openswith-tail{
    width: 75%;
}

/* Custom styles for .btn.btn-primary */
.btn.btn-primary {
    background-color: #e5e5e5; /* Primary button background color */
    color: #000; /* Text color for the primary button */
    border: 2px solid #0265ce; /* Border color for the primary button */
    padding: 2px 20px; /* Padding for the primary button (adjust as needed) */
    font-size: 12px; /* Font size for the text */
    font-weight: normal;
    height: 24px;
    width: 65px;
}


svg {
  width: 100px;
  height: 100px;
  margin: auto;
}

.svg-container{
    position: relative;
    left: 30%;
}

.space, .free, .used{
    width: 15px; 
    height: 15px;
    margin-right: 4px;
}

.free{
    background-color: #acacac;
}

.used{
    background-color: #2da6da;
}