<div class="main-taskbar-system-tray">

    <div class="main-taskbar-arrow-div"> 
        <figure  class="taskbar-arrow-fig">
            <img class="taskbar-arrow-img" [src]="taskBarArrowIcon">
        </figure>
    </div>

    <div class="main-taskbar-volume-div"> 
        <figure  class="taskbar-volume-fig" (click)="showVolumeControl()" id="taskBarVolumeFig">
            <img class="taskbar-volume-img" [src]="audioIcon" [alt]="name"  [title]="currentVolumeTxt">
        </figure>
    </div>
    
    <div class="main-taskbar-date-and-time-cntnr"
        [ngStyle]=" hover ? 
        {'background-color': 'hsla(0,0%,25%,60%)'}:
        {'color': 'white'}"  (mouseover)="hover=true" (mouseleave)="hover=false">
        <span class="taskbar-time-cntnr">
            {{subscribeTime}}
        </span>
        <span class="taskbar-date-cntnr">
            {{subscribeDate}}
        </span>
    </div>
</div>