<div class="main-lockscreen-container" (keydown)="onKeyDown($event)"  (click)="onLockScreenViewClick()" id="lockscreenCmpnt" tabindex="0"> 
    <ng-container [ngTemplateOutlet]="viewOptions === authForm ? showlogonform : showCurrentDateTime ">
    </ng-container>

    <ng-template #showlogonform>
        <div class="lockscreen-logon-container" id="lockscreen-logon-container">

            @if(showUserInfo){
                <div class="lockscreen-image-section">
                    <div class="lockscreen-image-placeholder">
                      <img  class="lockscreen-img" [src]="userIcon"/>
                    </div>
                  </div>
                
                  <div class="lockscreen-name-section">
                    <div class="lockscreen-name-placeholder">Anonymous, User</div>
                </div>
            }
          
            @if(showPasswordEntry){
                <div class="lockscreen-password-section" tabindex="0">
                    <form  class="lockscreen-password-form"   [formGroup]="loginForm"  (ngSubmit)="onEnteringPassword()">
                        <input 
                            type="password" 
                            formControlName="loginInput" 
                            class="lockscreen-password-input" 
                            (keydown)="onEnteringPassword($event)"
                            (click)="onPwdFieldClick()"
                            id="lockScreenPwdTxtBox"
                            placeholder="Password" />
                    </form>
                    <div class="lockscreen-icon-container" tabindex="0">
                        <i class="lockscreen-arrow-icon">&rarr;</i>
                    </div>
                </div>
            }

            @if(showLoading){ 
                <div class="lockscreen-loading-section">
                    <div class="lockscreen-loading-gif-placeholder">
                        <img class="lockscreen-loading-gif"  [src]="loadingGif"/>
                    </div>
    
                    <div class="lockscreen-loading-container">
                        <div class="lockscreen-loading-placeholder">Welcome</div>
                    </div>
                </div>
            }

            @if(showFailedEntry){
                <div class="lockscreen-error-section">
                    <div class="lockscreen-error-message">
                       {{incorrectPassword}}
                    </div>
                    <div class="lockscreen-error-button-section">
                        <button class="lockscreen-error-button" (click)="onBtnClick()">OK</button>
                    </div>
                </div>
            }

            @if(showRestartShutDown){
                <div class="lockscreen-shutdown-restart-section">
                    <div class="lockscreen-sr-loading-gif-placeholder">
                        <img class="lockscreen-sr-loading-gif"  [src]="loadingGif"/>
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="lockscreen-shutdown-restart-message">
                       {{exitMessage}}
                    </div>
                </div>
            }
        </div> 

        <div class="lockscreen-power-container" id="lockScreenPowerCntnr">
            <div class="lockscreen-power-section" tabindex="0" 
            (click)="onPowerBtnClick($event)"  (mouseenter)="onPowerBtnMouseEnter()" (mouseleave)="onPowerBtnMouseLeave()" id="powerBtnCntnr">
                <img class="lockscreen-power-icon" [src]="pwrBtnIcon"/>
            </div>
        </div>

        <ng-container  *ngIf="showPowerMenu">
            <cos-menu [generalMenu]="menuData" [style]="powerMenuStyle" [menuType]="powerMenuOption"> </cos-menu>
        </ng-container>
    </ng-template>

    <ng-template #showCurrentDateTime>
        <!-- New Additional Container -->
        <div class="lockscreen-datetime-container">

            <div class="lockscreen-notice-section">
                <div class="lockscreen-notice-placeholder">Press Space, or click to unlock.</div>
            </div>

            <div class="lockscreen-notice-space"></div>

            <div class="lockscreen-time-section">
                <div class="lockscreen-time-placeholder">{{ currentTime }}</div>
            </div>

            <div class="lockscreen-date-section">
                <div class="lockscreen-date-placeholder">{{ currentDate }}</div>
            </div>
        </div>
    </ng-template>
</div>