<ng-container [ngTemplateOutlet]="menuOption === fileExplrMngrMenuOption ? fileExplrMngrMenu :
                                  menuOption === tskBarMenuOption ? tskBarMenu : nestedMenu0  ">
</ng-container>

<ng-template #fileExplrMngrMenu>
  <div class="dm-vertical-menu" id="dmfileExplrMngrMenu">
    <div class="dm-empty-line-container"></div>

    <div lass="dm-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
        <div class="dm-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action)">
            <span class="span dm-head"> <figure class="dm-fig-cntxt-menu"> </figure></span>
            <span class="span dm-mid">{{menuItem.label}}</span>
            <span class="span dm-tail"> <figure class="dm-fig-cntxt-menu"> </figure> </span>
        </div>

        <div class="dm-empty-line-container" *ngIf="i === 2 || i === 4 || i === 6"></div>
        <div class="dm-line-container" *ngIf="i === 2 || i === 4 || i === 6"><div class="dm-line"></div></div>
        <div class="dm-empty-line-container" *ngIf="i === 2 || i === 4 || i === 6"></div>
    </div>

    <div class="dm-empty-line-container"></div>
</div>
</ng-template>

<ng-template #tskBarMenu>
  <div class="dm-vertical-menu">
    <div class="dm-empty-line-container"></div>
  
    <div lass="dm-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
        <div class="dm-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action)">
            <div class="dm-tskbar-head"> <figure class="dm-tskbar-fig-cntxt-menu"><img *ngIf="menuItem.icon.length > 0" class="dm-tskbar-img-alt" [src]="menuItem.icon"/></figure></div>
            <div class="dm-tskbar-mid"><p class="dm-p">{{menuItem.label}}</p></div>
            <div class="dm-tskbar-tail"> <figure class="dm-tskbar-fig-cntxt-menu"> </figure> </div>
        </div>
    </div>
  
    <div class="dm-empty-line-container"></div>
  </div>
  
</ng-template>


<ng-template #nestedMenu0>
  <div class="dm-nested-vertical-menu" id="dmNestedMenu">
    <div class="dm-nested-empty-line-container" ></div>

    <div class="dm-nested-vertical-sub-menu" *ngFor="let menuItem of nestedMenu; let i = index" >

      <div  *ngIf="menuItem.label !== paste" class="dm-nested-vertical-menu-item" (click)="onMenuItemClick(menuItem.action)" (mouseenter)="onMenuItemHover(menuItem.action1)">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>

      <div  *ngIf="menuItem.label === paste  && isPasteActive" class="dm-nested-vertical-menu-item" (click)="onMenuItemClick(menuItem.action)">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>


      <div  *ngIf="menuItem.label === paste  && !isPasteActive" class="dm-nested-vertical-menu-item turn-off-hover-effect ">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid-disabled"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>


      <div  *ngIf="menuItem.nest.length" class="dm-nested-vertical-sub-menu-content" id="dmNestedMenu-{{i}}">
        <div class="dm-nested-empty-line-container"></div>
          <div *ngFor="let item of menuItem.nest" (click)="onMenuItemClick(item.action)">
            <div class="dm-nested-vertical-menu-item">
              <div class="dm-nested-head"><figure [ngClass]=" item.styleOption === 'A' ?'dm-nested-figure-alt' : 'dm-nested-figure-alt2'">
                                          <img *ngIf="item.variables" [ngClass]=" item.styleOption === 'A' ?'dm-nested-img-alt' : 'dm-nested-img-alt2'" [src]="item.icon"/>
                                        </figure>
              </div>
              <div class="dm-nested-mid" *ngIf="item.styleOption === 'A' || item.styleOption === 'B'">{{item.label}}</div>
              <div class="dm-nested-mid"  *ngIf="item.styleOption === 'C'" ><p class="dm-nested-p"> {{item.label}}</p></div>
              <div class="dm-nested-tail"><figure class="dm-nested-figure"></figure></div>
            </div>
    
            <div *ngIf="item.emptyline" class="dm-nested-empty-line-container"></div>
            <div *ngIf="item.emptyline" class="dm-nested-line-container"><div class="dm-nested-line"></div></div>
            <div *ngIf="item.emptyline" class="dm-nested-empty-line-container"></div>
          </div>
        <div class="dm-nested-empty-line-container"></div>
      </div>

      <div *ngIf="menuItem.emptyline" class="dm-nested-empty-line-container"></div>
      <div *ngIf="menuItem.emptyline" class="dm-nested-line-container"><div class="dm-nested-line"></div></div>
      <div *ngIf="menuItem.emptyline" class="dm-nested-empty-line-container"></div>
    </div>
    <div class="dm-nested-empty-line-container1"></div>  
  </div>
</ng-template>