<ng-container [ngTemplateOutlet]="menuType === fileExplrMngrMenuOption ? fileExplrMngrMenu :
                                  menuType === tskBarAppIconMenuOption ? tskBarAppIconMenu :  
                                  menuType === tskBarContextMenuOption ? tskBarCntxtMenu :
                                  menuType === pwrMenuOption ? powerMenu : nestedMenu0">
</ng-container>

<ng-template #fileExplrMngrMenu>
  <div class="dm-vertical-menu" id="dmfileExplrMngrMenu">
    <div class="dm-empty-line-container"></div>

    <div lass="dm-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
        <div class="dm-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action, $event)">
            <span class="span dm-head"> <figure class="dm-fig-cntxt-menu"><img *ngIf="menuItem.icon.length > 0" class="dm-tskbar-img-alt" [src]="menuItem.icon"/></figure></span>
            <span class="span dm-mid"><p class="dm-p">{{menuItem.label}}</p></span>
            <span class="span dm-tail"> <figure class="dm-fig-cntxt-menu"> </figure> </span>
        </div>

        <ng-container *ngIf="menuOrder === fileExplrUniqueMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 3 || i === 4  || i === 5 || i === 6"></div>
          <div class="dm-line-container" *ngIf="i  === 3 || i === 4  || i === 5 || i === 6"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i  === 3 || i === 4  || i === 5 || i === 6"></div>
        </ng-container>

        <ng-container *ngIf="menuOrder === fileExplrFolderMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 3 || i === 4 || i === 6 || i === 9"></div>
          <div class="dm-line-container" *ngIf="i === 3 || i === 4 || i === 6 || i === 9"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 3 || i === 4 || i === 6 || i === 9"></div>
        </ng-container>

        <ng-container *ngIf="menuOrder === fileExplrFileMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 2 || i === 5"></div>
          <div class="dm-line-container" *ngIf="i === 0 || i === 2 || i === 5"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 2 || i === 5"></div>
        </ng-container>

        <ng-container *ngIf="menuOrder === defaultFileMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 2 || i === 4 || i === 6"></div>
          <div class="dm-line-container" *ngIf="i === 2 || i === 4 || i === 6"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 2 || i === 4 || i === 6"></div>
        </ng-container>

        <ng-container *ngIf="menuOrder === defaultFolderMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 4 || i === 6 || i === 8"></div>
          <div class="dm-line-container" *ngIf="i === 4 || i === 6 || i === 8"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 4 || i === 6 || i === 8"></div>
        </ng-container>

          <ng-container *ngIf="menuOrder === fileExplrRecycleBinMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 1|| i === 2"></div>
          <div class="dm-line-container" *ngIf="i === 0 || i === 1|| i === 2"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 1|| i === 2"></div>
        </ng-container>

        <ng-container *ngIf="menuOrder === recycleBinMenuOrder">
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 1"></div>
          <div class="dm-line-container" *ngIf="i === 1"><div class="dm-line"></div></div>
          <div class="dm-empty-line-container" *ngIf="i === 0 || i === 1"></div>
        </ng-container>

    </div>
    <div class="dm-empty-line-container"></div>
</div>
</ng-template>

<ng-template #tskBarAppIconMenu>
  <div class="dm-tskbar-vertical-menu">
    <div class="dm-tskbar-empty-line-container"></div>
  
    <div lass="dm-tskbar-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
        <div class="dm-tskbar-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action, $event)">
            <div class="dm-tskbar-head"> <figure class="dm-tskbar-fig-cntxt-menu"><img *ngIf="menuItem.icon.length > 0" class="dm-tskbar-img-alt" [src]="menuItem.icon"/></figure></div>
            <div class="dm-tskbar-mid"><p class="dm-p">{{menuItem.label}}</p></div>
            <div class="dm-tskbar-tail"> <figure class="dm-tskbar-fig-cntxt-menu"> </figure> </div>
        </div>
    </div>
  
    <div class="dm-tskbar-empty-line-container"></div>
  </div>
  
</ng-template>

<ng-template #tskBarCntxtMenu>
  <div class="dm-tskbar-cntxt-vertical-menu">
    <div class="dm-tskbar-cntxt-empty-line-container"></div>
  
    <div lass="dm-tskbar-cntxt-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
        <div class="dm-tskbar-cntxt-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action, $event)">
            <div class="dm-tskbar-cntxt-head"> <figure class="dm-tskbar-cntxt-fig-cntxt-menu"><img *ngIf="menuItem.icon.length > 0" class="dm-tskbar-cntxt-img-alt" [src]="menuItem.icon"/></figure></div>
            <div class="dm-tskbar-cntxt-mid"><p class="dm-p">{{menuItem.label}}</p></div>
            <div class="dm-tskbar-cntxt-tail"> <figure class="dm-tskbar-cntxt-fig-cntxt-menu"> </figure> </div>
        </div>

        <div class="dm-tskbar-cntxt-empty-line-container" *ngIf="i === 0 || i === 1"></div>
        <div class="dm-tskbar-cntxt-line-container" *ngIf="i === 0 || i === 1">
          <div class="dm-tskbar-cntxt-line"></div>
        </div>
        <div class="dm-tskbar-cntxt-empty-line-container" *ngIf="i === 0 || i === 1"></div>
    </div>
  
    <div class="dm-tskbar-cntxt-empty-line-container"></div>
  </div>
</ng-template>

<ng-template #nestedMenu0>
  <div class="dm-nested-vertical-menu" id="dmNestedMenu">
    <div class="dm-nested-empty-line-container" ></div>

    <div class="dm-nested-vertical-sub-menu" *ngFor="let menuItem of nestedMenu; let i = index" >

      <div  *ngIf="menuItem.label !== paste" class="dm-nested-vertical-menu-item" (click)="onMenuItemClick(menuItem.action, $event)" (mouseenter)="onMenuItemHover(menuItem.action1)">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>

      <div  *ngIf="menuItem.label === paste  && isPasteActive" class="dm-nested-vertical-menu-item" (click)="onMenuItemClick(menuItem.action, $event)">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>


      <div  *ngIf="menuItem.label === paste  && !isPasteActive" class="dm-nested-vertical-menu-item turn-off-hover-effect ">
        <div class="dm-nested-head"><figure class="dm-nested-figure"><img *ngIf="menuItem.icon1" class="dm-nested-img" [src]="menuItem.icon1"/></figure></div>
        <div class="dm-nested-mid-disabled"><p class="dm-nested-p"> {{menuItem.label}}</p></div>
        <div class="dm-nested-tail"><figure class="dm-nested-figure"> <img *ngIf="menuItem.icon2" class="dm-nested-img" [src]="menuItem.icon2"/></figure></div>
      </div>


      <div  *ngIf="menuItem.nest.length" class="dm-nested-vertical-sub-menu-content" id="dmNestedMenu-{{i}}">
        <div class="dm-nested-empty-line-container"></div>
          <div *ngFor="let item of menuItem.nest" (click)="onMenuItemClick(item.action, $event)">
            <div class="dm-nested-vertical-menu-item">
              <div class="dm-nested-head"><figure [ngClass]=" item.styleOption === 'A' ?'dm-nested-figure-alt' : 'dm-nested-figure-alt2'">
                                          <img *ngIf="item.variables" [ngClass]=" item.styleOption === 'A' ?'dm-nested-img-alt' : 'dm-nested-img-alt2'" [src]="item.icon"/>
                                        </figure>
              </div>
              <div class="dm-nested-mid" *ngIf="item.styleOption === 'A' || item.styleOption === 'B'">{{item.label}}</div>
              <div class="dm-nested-mid"  *ngIf="item.styleOption === 'C'" ><p class="dm-nested-p"> {{item.label}}</p></div>
              <div class="dm-nested-tail"><figure class="dm-nested-figure"></figure></div>
            </div>
    
            <div *ngIf="item.emptyline" class="dm-nested-empty-line-container"></div>
            <div *ngIf="item.emptyline" class="dm-nested-line-container"><div class="dm-nested-line"></div></div>
            <div *ngIf="item.emptyline" class="dm-nested-empty-line-container"></div>
          </div>
        <div class="dm-nested-empty-line-container"></div>
      </div>

      <div *ngIf="menuItem.emptyline" class="dm-nested-empty-line-container"></div>
      <div *ngIf="menuItem.emptyline" class="dm-nested-line-container"><div class="dm-nested-line"></div></div>
      <div *ngIf="menuItem.emptyline" class="dm-nested-empty-line-container"></div>
    </div>
    <div class="dm-nested-empty-line-container1"></div>  
  </div>
</ng-template>


<ng-template #powerMenu>
  <div class="dm-power-vertical-menu" (mouseenter)="onBtnHover()">
    <div class="dm-power-empty-line-container" ></div>

    <div lass="dm-power-vertical-menu-cntnr" *ngFor="let menuItem of generalMenu; let i = index">
      <div class="dm-power-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action, $event)">
          <div class="dm-power-head"> 
            <figure class="dm-power-fig-menu">
              <img class="dm-power-img-alt" [src]="menuItem.icon"/>
            </figure>
          </div>
          <div class="dm-power-mid"><p class="dm-p">{{menuItem.label}}</p></div>
          <div class="dm-power-tail"> <figure class="dm-power-fig-menu"> </figure> </div>
      </div>
    </div>
    <div class="dm-power-empty-line-container" ></div>
  </div>
</ng-template>