
.dm-vertical-menu, .dm-tskbar-vertical-menu{
    position: absolute;
    width: 205px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #9c9898;
    z-index: 2;
}

.dm-vertical-menu-item-cntnr{
    width: 100%;
}


.dm-vertical-menu-item, .dm-tskbar-vertical-menu-item{
    height: fit-content;
    padding: 2px 0;
    background-color: #2b2b2b;
    display: inline-flex;
    width: 100%;
    z-index: 2;
   /*  transition: background-color 0.3s ease; Add a transition for background-color */
}

.dm-vertical-menu .dm-vertical-menu-item:hover{
    background-color: #484444;
}

.dm-vertical-menu{
    background-color: #484444;
}

.dm-line-container{
    max-height: 1px;
    background-color: #2b2b2b;
}

.dm-line {
    border: 1px solid #9c9898;
    margin: 0 8px;
}

.dm-empty-line-container , .dm-tskbar-empty-line-container {
    max-height: 3px;
    min-height: 3px;
    background-color: #2b2b2b;
}

span{
    display: block;
}

span.dm-head{
    padding-left: 4px;
}

span.dm-mid{
    padding: 0 4px;
    color: white; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

span.dm-tail{
    padding-left: 47px;
}

.dm-fig-cntxt-menu{
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%;
}


.dm-img-alt{
    height: 16px;
    width: 16px;

    position: relative;
}

.dm-figure-alt{
    align-items: center;
    display:inline-flex;
    min-width: 18px;
}

/*Taskbar Menu CSS*/

.dm-tskbar-empty-line-container{
    background-color: transparent;
}

.dm-tskbar-vertical-menu{
    background-color: rgba(41,41, 41, 0.7);
    backdrop-filter: blur(30px);
    z-index: 5;
}

.dm-tskbar-vertical-menu-cntnr{
    width: 100%;
}

.dm-tskbar-vertical-menu-item{
    background-color: transparent;
    z-index: 5;
}


.dm-tskbar-head{
    max-width: 27%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dm-tskbar-mid{
    min-width: 48%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

.dm-p{
    position: relative;
    top: 10%;
}

.dm-tskbar-tail{
    max-width: 25%;
    padding-left: 48px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dm-tskbar-fig-cntxt-menu{
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%;
}

.dm-tskbar-img-alt{
    height: 18px;
    width: 18px;
    position: relative;
}


/*fileExplorer & desktop Menu CSS*/
.dm-nested-vertical-menu {
    position: absolute;
    width: 210px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #9c9898;
    z-index: 2;
}

.dm-nested-vertical-menu-item {  
    height: fit-content;
    padding: 2px 0;
    /* background-color: #eee; */
    background-color: #2b2b2b;
    display: inline-flex;
    width: 100%;
    z-index: 2;
}

.dm-nested-line-container {
    max-height: 1px;
    /* background-color: #eee; */
    background-color: #2b2b2b;
}

.dm-nested-line{
    border: 1px solid #9c9898;
    margin: 0 8px;
}

.dm-nested-empty-line-container {
    max-height: 3px;
    min-height: 3px;
    /* background-color: #eee; */
    background-color: #2b2b2b;
}

.dm-nested-empty-line-container1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #2b2b2b;
}

.dm-nested-vertical-sub-menu {
    float: left;
    overflow: hidden;
    width: 100%;
    outline: none;
   /*  transition: all 0.5s ease 0.3s; Delay the transition for the sub-menu content */
}

.dm-nested-p{
    position: relative;
    top: 10%;
}

.dm-nested-vertical-sub-menu-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    background-color: #2b2b2b;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #9c9898;
    width: 205px;
    z-index: 2;
    left: 98%;
    margin-top: -29px;
    animation: fade 1s ease forwards;
    transition-delay:1s;
}

.turn-off-hover-effect {
    pointer-events: none;
}

@keyframes fade {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  

.dm-nested-vertical-menu .dm-nested-vertical-menu-item:hover {
    /* background-color: #ccc; */
    background-color: #484444;
}

.dm-nested-vertical-sub-menu:hover .dm-nested-vertical-sub-menu-content {
    display: block;
    transition-delay:1s;
}

.dm-nested-head{
    max-width: 25%;
    padding-left: 4px;
}

.dm-nested-mid, .dm-nested-mid-disabled{
    min-width: 50%;
    padding: 0 4px;
    color: white; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

.dm-nested-mid-disabled{
    color: #969696c6; 
}

.dm-nested-tail{
    max-width: 25%;
    padding-left: 62px;
}

.dm-nested-figure{
    align-items: center;
    display:inline-flex;
    width: 18px;
    height: 18px;
}
  
.dm-nested-img{
    height: 18px;
    width: 18px;

    position: relative;
    margin: 0 0;
}
  
.dm-nested-img-alt{
    height: 8px;
    width: 8px;

    position: relative;
}

.dm-nested-figure-alt{
    position: relative;
    align-items: center;
    display: inline-flex;
    width: 18px;
    height: 18px;
    top: -25%;
    left: 35%;
}

.dm-nested-img-alt2{
    height: 16px;
    width: 16px;

    position: relative;
}

.dm-nested-figure-alt2{
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%;
}
