<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" [priorUId]="this.priorUId"  (click)="setChatterWindowToFocus(this.processId)">
    <div class="chatter-main-container" #chatterContainer>
      <div class="chatter-content-container">

        <!-- Side bar-->
        <div class="chatter-sidebar-container">
          <div class="chatter-sidebar-content" (click)="1" (mouseenter)="1" (mouseleave)="1">
            <div class="chatter-sidebar-icon">
                <figure class="chatter-sidebar-figure">
                    <img class="chatter-sidebar-img" [src]="'osdrive/Cheetah/System/Imageres/chatter_2.png'"/>
                </figure>
            </div>
          </div>
        </div>

        <!-- online users-->
        <div class="chatter-online-container">
          <div class="chatter-online-content">
            <div class="chatter-online-heading">
              <span class="chatter-span-online-heading">Online</span>
            </div>

            <div class="chatter-online-section">

              <div class="chatter-online-item-cntnr"  *ngFor="let onlineUser of onlineUsers; let i = index">
                <ng-content *ngIf="onlineUser.userId !== userId">
                  <div class="chatter-online-item">
                    <span class="span chatter-online-head"> 
                      <div class="chatter-user-online-acronym" [ngStyle]="{'background-color':onlineUser.color}"> {{onlineUser.userNameAcronym}} </div>
                    </span>
                    <span class="span chatter-online-mid">{{onlineUser.userName}}</span>
                    <span class="span chatter-online-tail">
                      <ng-container  *ngIf="onlineUser.isTyping">
                        <div class="chatter-online-div-fig">
                          <img class="chatter-online-div-img" [src]="'osdrive/Cheetah/System/Gifres/loading.gif'"/>
                        </div>
                      </ng-container>
                    </span>
                  </div>
                  <div class="chatter-online-empty-line-container"></div>
                </ng-content>
              </div>
            </div>
          </div>
        </div>

        <!-- Chat Container-->
        <div class="chatter-chat-container">
          <div class="chatter-user-info-container">
            <div class="chatter-user-info-content" >
              <span class="span chatter-head"> 
                <div class="chatter-user-acronym" [ngStyle]="userNameAcronymStyle"> {{userNameAcronym}} </div>
              </span>

              <ng-container *ngIf="this.showUserNameForm">
                <div class="chat-user-form-card"  #chatUserFormCntnr>
                  <div class="chat-user-form-body">
                    <form novalidate [formGroup]="chatUserForm">
                      <div class="form-group row mb-2">
  
                        <div class="col-md-6">
                          <input
                            class="form-control"  id="firstNameId"
                            type="text"  placeholder="First Name (required)"
                            formControlName="firstName"
                            [ngClass]="{
                              'is-invalid':
                                (chatUserForm.get('firstName')?.touched 
                                ||  chatUserForm.get('firstName')?.dirty) 
                                && !chatUserForm.get('firstName')?.valid
                            }"
                            appAlphaNumeric
                          />
                          <span class="invalid-feedback">
                            <span *ngIf="(chatUserForm.get('firstName')?.touched && !chatUserForm.get('firstName')?.valid)">
                              First name required.
                            </span>
                            <span *ngIf="(chatUserForm.get('firstName')?.errors?.['maxlength'])">
                              10 characters max.
                            </span>
                          </span>
                        </div>
                      </div>
                
                      <div class="form-group row mb-2">
                        <div class="col-md-6">
                          <input
                            class="form-control"  id="lastNameId"
                            type="text"  placeholder="Last Name (required)"
                            formControlName="lastName"
                            [ngClass]="{
                              'is-invalid':
                                (chatUserForm.get('lastName')?.touched 
                                || chatUserForm.get('lastName')?.dirty) 
                                &&  !chatUserForm.get('lastName')?.valid
                            }"
                            appAlphaNumeric
                          />
                          <span class="invalid-feedback">
                            <span *ngIf="(chatUserForm.get('lastName')?.touched && !chatUserForm.get('lastName')?.valid)">
                              last name required.
                            </span>
                            <span *ngIf="chatUserForm.get('lastName')?.errors?.['maxlength']">
                              10 characters max.
                            </span>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                
                  <div class="chat-user-form-footer">
                    <button class="chatter_btn chatter_btn-outline-secondary mr-3"  
                      style="width:60px" 
                      (click)="showTheUserNameLabel()">
                       Cancel
                    </button>
                
                    <button
                      class="chatter_btn chatter_btn-outline-primary mr-3"
                      style="width:60px"
                      type="submit"
                      (click)="onUpdateUserName()"
                      [disabled]="!chatUserForm.valid"
                      [ngClass]="!chatUserForm.valid ? 'chatter_btn chatter_btn-outline-disabled mr-3':'chatter_btn chatter_btn-outline-primary mr-3'"
                      >
                     Update
                    </button>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="showUserNameLabel">
                <span class="span chatter-mid"   (click)="showTheUserNameForm()" #chatUserLabelCntnr> 
                  <span class="user-name-bold">
                    {{this.userName}}
                  </span>
                </span>
              </ng-container>
            </div>
          </div>
          <div class="chatter-chat-window-content"  #chatHistoryOutput>
            <ng-container  *ngFor="let msg of chatData"> 

              <ng-container *ngIf="msg.getUserId === userId && msg.getIsAppMsg === false">
                <div class="chatter-chat-msg-block">

                  <div class="chatter-chat-output-content-left" >
                    <span class="span chatter-head"> 
                      <div class="chatter-user-acronym"  [ngStyle]="{'background-color':msg.getIconColor}"> {{msg.getUserNameAcronym}} </div>
                    </span>
  
                    <div class="chat-user-txt-container-left">
                      <div class="chat-username-and-date-left">
                        <span  class="chat-username">{{msg.getUserName}}</span>
                        <span  class= "chat-date">{{msg.getMsgDate}}</span>
                      </div>
                      <span  class="chat-content">{{msg.getMessage}}
                      </span>
                    </div>
                  </div>
  
                  <div class="chatter-empty-line-container"> </div>
                </div>
              </ng-container>
            
              <ng-container  *ngIf="msg.getUserId !== userId && msg.getIsAppMsg === false">
                <div class="chatter-chat-msg-block">

                  <div class="chatter-chat-output-content-right">
                    <div class="chat-user-txt-container-right">
                      <div class="chat-username-and-date-right">
                        <span  class="chat-username">{{msg.getUserName}}</span>
                        <span  class= "chat-date">{{msg.getMsgDate}}</span>
                      </div>
                      <span  class="chat-content">{{msg.getMessage}}
                      </span>
                    </div>
                    
                    <span class="span chatter-head"> 
                      <div class="chatter-user-acronym"  [ngStyle]="{'background-color':msg.getIconColor}"> {{msg.getUserNameAcronym}} </div>
                    </span>
                  </div>

                  <div class="chatter-empty-line-container"> </div>
                </div>
              </ng-container>

              <ng-container *ngIf="msg.getUserId !== userId && msg.getIsAppMsg === true">
                <div class="chatter-chat-msg-block">
                  
                  <div class="chatter-chat-output-content-left" >
                    <span class="span chatter-head"> 
                      <figure class="chatter-head-figure">
                        <img class="chatter-head-figure" [src]=" msg.getIsUserNameEdit === false ? 'osdrive/Cheetah/System/Imageres/chatter_user.png': 'osdrive/Cheetah/System/Imageres/chatter_edit.png'"/>
                    </figure>
                    </span>
                    <div class="chat-user-txt-container-left-sys">
                      <span  class="chat-content-sys">{{msg.getMessage}}</span>
                    </div>
                  </div>
                  <div class="chatter-empty-line-container"> </div>
                </div>
              </ng-container>
              
            </ng-container>
          </div>
          <div class="chatter-chat-texbox-container">
            <div class="chatter-chat-texbox">
              <form [formGroup]="chatterForm"  class="chatter-form">
                <textarea
                  appKeyPressCapture
                  class="chatter-area"
                  maxlength="300"
                  formControlName="msgText"
                  placeholder="{{chatPrompt}}"
                  (keydown)="onKeyDownInInputBox($event)"
                  autofocus="true"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  id="chatterMsgBox"
                  rows="2">
                </textarea>
              </form>
            </div>
            <div class="chatter-chat-send">
              <div class="chatter-send-msg-content" (click)="1" (mouseenter)="1" (mouseleave)="1">
                <div class="chatter-send-msg-icon">
                    <figure class="chatter-send-msg-figure">
                        <img class="chatter-send-msg-img" [src]="'osdrive/Cheetah/System/Imageres/send_msg.png'"/>
                    </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer-->
      <div class="chatter-footer-container">
        <div class="chatter-div-footer chatter-div-footer-lm">last received message:{{messageLastRecieved}} </div>
        <div class="chatter-div-footer"></div>

        <div class="chatter-div-footer-fig1 ">
          <img class="chatter-div-footer-img" [src]="'osdrive/Cheetah/System/Imageres/users_online.png'"/>
        </div>
        <div class="chatter-div-footer chatter-div-footer-online">online:{{userCount}}</div>

        <ng-container  *ngIf="isTyping">
          <div class="chatter-div-footer-fig ">
            <img class="chatter-div-footer-img" [src]="'osdrive/Cheetah/System/Gifres/loading.gif'"/>
          </div>
        </ng-container>
        <div class="chatter-div-footer"></div>
      </div>      
    </div>
</cos-window>